---
import Layout from "../layouts/Layout.astro";
import ColorDetector from '../components/ColorDetector';

---
<Layout title="Detectanto esmalte">
    <main class="p-4">
        <ColorDetector client:load/>
    </main>
   
    
</Layout>